@font-face {
  font-family: "iconfont"; /* Project id 3180096 */
  src: url('iconfont.woff2?t=1645668456624') format('woff2'),
  url('iconfont.ttf?t=1645668456624') format('truetype'),
  url('iconfont.svg?t=1645668456624#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sjzc:before {
  content: "\e69d";
}

.icon-bzgl:before {
  content: "\e60b";
}

.icon-sjzlgl:before {
  content: "\e6b2";
}

.icon-sjgl:before {
  content: "\e69b";
}

.icon-sjfw:before {
  content: "\e6a0";
}

.icon-cjzl:before {
  content: "\eb61";
}

.icon-llgl:before {
  content: "\e68d";
}

.icon-jczl:before {
  content: "\e600";
}

.icon-cxzl:before {
  content: "\e603";
}

.icon-folder:before {
  content: "\eac4";
}

.icon-folderOpen:before {
  content: "\eac5";
}

.icon-sjzl1:before {
  content: "\e602";
}

.icon-setting:before {
  content: "\e601";
}

